{% extends "base.html" %}

{% block title %}MITALON{% endblock %}

{% block content %}
<div class="home-container dark-mode">
  <div class="home-content text-center">
    <img src="/static/images/bg-removed.png" class="logo" alt="Mitalon">
    <h1 class="text-light">MITALON</h1>
    <h4 class="narasi">
      Aplikasi Pengambilan Foto dengan Geo-Tagging
      untuk Merekam Kehadiran Pegawai Kanwil Kemenkum Aceh
    </h4>
    <div class="menu-container">
      <a href="/dinasluar" class="menu-item">
        <div class="icon-circle">
          <img src="{{ url_for('static', filename='images/perjadin.png') }}" alt="Perjalanan Dinas">
        </div>
        <span>Perjalanan Dinas</span>
      </a>

      <a href="/absen" class="menu-item">
        <div class="icon-circle">
          <img src="{{ url_for('static', filename='images/absen.png') }}" alt="Isi Absen">
        </div>
        <span>Isi Absen</span>
      </a>

      <a href="/list_absen" class="menu-item">
        <div class="icon-circle">
          <img src="{{ url_for('static', filename='images/list_absen.png') }}" alt="Daftar Hadir Hari Ini">
        </div>
        <span>Daftar Hadir Hari Ini</span>
      </a>
    </div>
  </div>
</div>
{% endblock %}