{% extends "base.html" %}

{% block title %}MitaLon{% endblock %}

{% block content %}
<div class="home-container dark-mode">
    <div class="home-content">
        <img src="/static/images/bg-removed.png" class="logo" alt="Mitalon">
        <h1 class="text-light">MITALON</h1>
        <h4 class="narasi">Aplikasi Absensi Online Menggunakan Foto Kehadiran dan Geo-Tagging untuk Merekam Kehadiran
            Upacara HUT RI Ke-80 di Kanwil Kemenkum Aceh</h4>
        <a href="/form" class="btn btn-primary mt-3">Isi Absen</a>
        <a href="/attendance" class="btn btn-primary mt-3">Daftar Hadir</a>
    </div>
</div>
{% endblock %}